{{define "title"}}Table View{{end}}

{{define "main"}}
    {{with .Entry}}
        <article class="textbox">
            <h2>{{.Title}} </h2>
            <div class="content-wrapper">
                <div class="text-content">
                    <table class="db-table">
                        <thead>
                            <tr>
                                {{range $.TableData.Columns}}
                                    <th>{{.}}</th>
                                {{end}}
                            </tr>
                        </thead>
                        <tbody>
                            {{range $.TableData.Rows}}
                                <tr>
                                    {{$row := .}}
                                    {{range $.TableData.Columns}}
                                        <td title="{{index $row .}}">{{truncate (index $row .) 30}}</td>
                                    {{end}}
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    {{else}}
        <article class="textbox">
            <p>Table not found.</p>
        </article>
    {{end}}
{{end}}

